<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
</head>
<style>
.styled-table {
border-collapse: collapse;
margin: 25px 0;
font-size: 0.9em;
font-family: sans-serif;
min-width: 400px;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
background-color: #009879;
color: #ffffff;
text-align: left;
}

.styled-table th,
.styled-table td {
padding: 12px 15px;
}
.styled-table tbody tr {
border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
border-bottom: 2px solid #009879;
}
</style>
<body>
<table class="styled-table">
<tr>
<th>NSS</th>
<th>Nombre</th>
<th>Edad</th>
<th>Tipo de sangre</th>
<th></th>
</tr>


<% Object.keys(persons).forEach(function(prop) { %>

<tr>
<td><%- persons[prop].nss %></td>
<td><%- persons[prop].nombre %></td>
<td><%- persons[prop].edad %></td>
<td><%- persons[prop].tipoSangre %></td>
<td><a href="<%= `deletePerson/${persons[prop]._id}` %>">Delete</a></td>
<td><a href="<%= `findById/${persons[prop]._id}` %>">Update</a></td>
</tr>
<% }); %>




</table>
<a href="./main">Back</a>
</body>
</html>